# ignore system files and directories
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.cinnamon/
.config/.wrangler/
.config/Code/
.config/Postman/
.config/QtProject.conf
.config/QtProject/
.config/Unknown Organization/
.config/albert/
.config/astro/
.config/autostart/
.config/caja/
.config/cef_user_data/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/github-copilot/
.config/google-chrome/
.config/gtk-3.0/
.config/hexchat/
.config/kdeconnect/
.config/kicad/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/nemo/
.config/nextjs-nodejs/
.config/nvim/
.config/octave/
.config/plank/
.config/pulse/
.config/qt5ct/
.config/runjs/
.config/spotify/
.config/sticky/
.config/touchegg/.touchegg:0.lock
.config/touchegg/.touchegg_0.lock
.config/touchegg/.touchegg_1.lock
.config/conky-manager2.json
.config/transmission/
.config/unity3d/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/warpinator/
.config/xed/
.config/zoom.conf
.config/zoomus.conf
.designer/
.dmrc
.dotnet/
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.gtkrc-xfce
.lesshst
.linuxmint/
.local/
.mono/
.mozilla/
.npm/
.octave_hist
.octave_packages
.pki/
.profile
.rest-client/
.sounds/
.ssh/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.var/
.vscode/
.wget-hsts
.wine/
.xsession-errors
.xsession-errors.old
.zcompdump-camilonore-Acer-5.8.1
.zcompdump-camilonore-Acer-5.8.1.zwc
.zoom/
.zsh_history
.zshrc.pre-oh-my-zsh

# ignore specific directories
Descargas/
Imágenes/
Documentos/
GOG Games/
dev/
go/
octave/
