[submodule ".oh-my-zsh/custom/autocomplete/zsh-autocomplete"]
	path = .oh-my-zsh/custom/autocomplete/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
[submodule ".oh-my-zsh/custom/plugins/web-open"]
	path = .oh-my-zsh/custom/plugins/web-open
	url = https://github.com/AndrewHaluza/zsh-web-open
